.pagination {
  display:inline-block;
  padding-left:0;
  margin:20px 0;
  border-radius:4px;
  width: 100%
}
.pagination>li {
  display:inline;
}
.pagination>li>button,.pagination>li>span {
  position:relative;
  float:left;
  padding:4px 10px;
  margin-left:-1px;
  line-height:1.42857143;
  color:#e5aa0b;
  text-decoration:none;
  background-color:#fff;
  border:1px solid #ddd;
  font-size: 12px;
}
.pagination>li:first-child>button,.pagination>li:first-child>span {
  margin-left:0;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}
.pagination>li:last-child>button,.pagination>li:last-child>span {
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
.pagination>li>button:focus,.pagination>li>button:hover,.pagination>li>span:focus,.pagination>li>span:hover {
  z-index:3;
  color:#23527c;
  background-color:#eee;
  border-color:#ddd;
}
.pagination>.active>button,.pagination>.active>button:focus,.pagination>.active>button:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
  z-index:2;
  color:#fff;
  cursor:default;
  background-color:#ff9800;
  border-color:#ff9800;
}
.pagination>.disabled>button,.pagination>.disabled>button:focus,.pagination>.disabled>button:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover {
  color:#e5aa0b;
  cursor:not-allowed;
  background-color:#fff;
  border-color:#ddd;
}
.pagination-lg>li>button,.pagination-lg>li>span {
  padding:10px 16px;
  font-size:18px;
  line-height:1.3333333;
}
.pagination-lg>li:first-child>button,.pagination-lg>li:first-child>span {
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
}
.pagination-lg>li:last-child>button,.pagination-lg>li:last-child>span {
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
}
.pagination-sm>li>button,.pagination-sm>li>span {
  padding:5px 10px;
  font-size:12px;
  line-height:1.5;
}
.pagination-sm>li:first-child>button,.pagination-sm>li:first-child>span{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.pagination-sm>li:last-child>button,.pagination-sm>li:last-child>span {
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}
button { cursor:pointer; }
