.method-rows {
  display: grid;
  grid-template-rows: auto;
  column-gap: 2%;
}

.method-rows:hover {
  background-color: linen;
}

.method-rows.active {
  background-color: linen;

}

.padding {
  padding: 15px;
}

.grid-form-x4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
}
