div {
  width: -moz-available
}

.page-boundary {
  position: absolute;
  display: block;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  width: 100%;
  /* background-color: #fff; */
  border-bottom: .3px solid;
  border-bottom-color: #C9CBD0;
}

.page-boundary--fixed-top {
  top: 0%;
}

.page-boundary--fixed-bottom {
  bottom: 0;
}

.navigation-body-div {
  color: black;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.20em;
}

.navigation-panels {
  display: inline-flex;
  overflow: auto;
  position: absolute;
  top: 65px;
  bottom: 0;
}

.navigation-panels .navigation-panel {
  overflow: auto;
}

.page-boundary {
  position: absolute;
  display: block;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  width: 100%;
  /* background-color: #fff; */
  border-bottom: .3px solid;
  border-bottom-color: #C9CBD0;
}
.page-boundary--fixed-top {
  top: 0%;
}
.page-boundary--fixed-bottom {
  bottom: 0;
}

.navigation-content {
  order: 2;
  flex: 5;
  width: -webkit-fill-available;
  padding: 1%;
}

.left-side, .right-side {
  flex: .5;
}

.page-title {
  text-align: center;
}

@media screen and (max-width: 3000px) and (max-height: 2000px) {
  .navigation-content {
    flex: 12;
  }
  .left-side {
    display: none;
  }
}

@media screen and (min-width: 1900px) and (min-height: 1600px) {
  .navigation-content {
    flex: 8;
  }
  .left-side {
    display: none;
  }
}

@media screen and (max-width: 1600px) and (max-height: 2000px) {
 .navigation-panels  {
      display: inline-flex;
      overflow: hidden;
      top: 0;
      position: absolute;
      z-index: 2;
      bottom: 0;
      width: 100%;
  }
  .navigation-content {
      order: 2;
      flex: 9;
      z-index: 1;
  }
  .left-side {
    display: none;
  }
}
@media screen and (max-width: 1200px) and (max-height: 1600px) {
 .navigation-panels  {
      display: inline-flex;
      overflow: hidden;
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      width: 100%;
  }
  .navigation-content {
    order: 2;
    flex: 9;
    z-index: 1;
    padding: 2%;
    width: -webkit-fill-available;
    height: 100%;
  }
  .left-side {
    display: none;
  }
}
/*IPHONE 6,7,8*/

 /*IPHONE X*/
@media screen and (max-width: 768px){
  .navigation-panels  {
    display: inline-flex;
    overflow: hidden;
    z-index: 2;
    top: 0;
    padding-top: 67px;
    bottom: 0;
    width: 100%;
  }
  .navigation-content {
    order: 2;
    flex: 5;
    z-index: 1;
    padding: 3%;
    width: -webkit-fill-available;
    position: absolute;
  }
}
@media screen and (max-height: 400px){
  .navigation-panels  {
    display: inline-flex;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
    padding-top: 67px;
    bottom: 0;
    width: 100%;
  }
  .navigation-content {
    order: 2;
    flex: 5;
    z-index: 1;
    padding: 3%;
    width: -webkit-fill-available;
    position: absolute;
  }
}

.nav-grid-2 {
  display: grid;
  grid-template-columns: .2fr 2fr;
  column-gap: 0%;
}

.icon {
  height: 50px;
  width: auto;
  vertical-align: middle;
  margin: .5em;
  width: 100%;
  margin: 10px;
  background-repeat: no-repeat;
  /* -webkit-mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat; */
  /* background-color: #000087; */
}

.home-icon {
  background-image: url('../../../images/menu.png');
  /* -webkit-mask-image: url('../../../images/logo.png');
  mask-image: url('../../../images/logo.png'); */
  margin-left: 8px;
}
