.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
  opacity: 1;
  overflow: visible;
}

.modal {
  max-height: 90%;
  background-color: #F9FAFC;
  box-shadow: 0px 0px 3px #FFF;
  border-radius: 3px;
  padding: 10px;
  overflow-y: auto;
}

.modal.full-height {
  height: 90%;
}

.modal-content {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.close-button {
  float: right;
}

.select-grid {
  display: grid;
  grid-row-gap: 10px;
}

.select-button {
  width : 100%;
}

@media only screen and (max-width: 768px) {
  .modal {
    width: 100% !important;
    height: 88%;
  }

  .modal-content {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
