body {
  margin: 0;
  background-color: #f6f8f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SalesforceSans Regular';
  src: local('SalesforceSansRegular');
  src: url('./fonts/SalesforceSans-Regular.eot');
  src: url('./fonts/SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/SalesforceSans-Regular.woff') format('woff'),
  url('./fonts/SalesforceSans-Regular.ttf') format('truetype');
}

* {
  font-family: 'SalesforceSans Regular', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: absolute;
  height: 24px;
  width: 100%;
  text-align: center;
  font-size: .75rem;
  bottom: 0;
}

/* font weight */

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-initial {
  font-weight: initial !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

/* font size */

.font-size-8px {
  font-size: 8px !important;
}

.font-size-9px {
  font-size: 9px !important;
}

.font-size-10px {
  font-size: 10px !important;
}

.font-size-11px {
  font-size: 11px !important;
}

.font-size-12px {
  font-size: 12px !important;
}

.font-size-13px {
  font-size: 13px !important;
}

.font-size-14px {
  font-size: 14px !important;
}

.font-size-15px {
  font-size: 15px !important;
}

.font-size-16px {
  font-size: 16px !important;
}

.font-size-18px {
  font-size: 18px !important;
}

.font-size-19px{
  font-size: 19px !important;
}

.font-size-20px{
  font-size: 20px !important;
}

.font-size-21px{
  font-size: 21px !important;
}

.font-size-22px{
  font-size: 22px !important;
}

.font-size-23px{
  font-size: 23px !important;
}

.font-size-24px{
  font-size: 24px !important;
}

.font-size-25px{
  font-size: 25px !important;
}

.font-size-26px{
  font-size: 26px !important;
}

.font-size-27px{
  font-size: 27px !important;
}

.font-size-28px{
  font-size: 28px !important;
}

.font-size-29px{
  font-size: 29px !important;
}

.font-size-30px{
  font-size: 30px !important;
}

.font-size-35px{
  font-size: 35px !important;
}

.font-size-40px{
  font-size: 50px;
}

/* text-align*/

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.text-align-end {
  text-align: end;
}

.cursor-pointer {
  cursor: pointer;
}

.align-items-center{
  align-items: center !important;
}

/* margin */
.margin-auto {
  margin: auto;
}

.margin-8px {
  margin: 8px;
}

.margin-top-24px {
  margin-top: 24px;
}

.margin-top-16px {
  margin-top: 16px;
}

.margin-top-12px {
  margin-top: 12px;
}

.margin-bottom-8px {
  margin-bottom: 8px;
}

.margin-tb-8px {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-tb-4px {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin-right-8px {
  margin-right: 8px !important;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

/* float position */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* padding */

.padding-16px {
  padding: 16px;
}

.padding-18px {
  padding: 18px !important;
}

.padding-top-35 {
    padding-top: 35%;
}

.padding-top-24 {
    padding-top: 24%;
}

.padding-top-18 {
    padding-top: 18%;
}

.padding-top-8 {
    padding-top: 8%;
}

.grid-global {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

.grid-global-columns-x3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
}

@media screen and (max-width: 1024px) {
  .grid-global-columns-x3 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
}

@media screen and (max-width: 768px) {
  .grid-global {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-global-columns-x3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-global-rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 2%;
}

.grid-global-columns-x4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
}

.grid-global-row-x3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2%;
}

@media screen and (max-width: 768px) {
  .grid-global {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-global-columns-x3 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom : 10px;
  }
}
.grid-global-rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 2%;
}

/**/
.close-button-global {
  margin: auto;
  padding-top: 10px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: flex;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: max-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 8px 8px;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s;
}

.tooltip-right {
    top: -5px;
    left: 175%;
}

.tooltip-right-profile {
    top: 15%;
    left: 115%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hide {
  display: none!important;
}

.viewmore {
  padding: 2px 0 2px 0;
  width: 100%;
  cursor: pointer;
  border: 0;
}

.text-color {
  color: #4A4A4A;
}

.semi-round-btn {
  float: left;
  background-color: #e5aa0b;
  color: white;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0px 16px 16px 0px !important;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  min-width: max-content;
}

.numberCircle {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 8px;
    margin-left: 8px;
    background: #fff;
    border: 2px solid #e5aa0b;
    color: #666;
    text-align: center;
    font: 14px Arial, sans-serif;
}

.grid-question-view {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  column-gap: 1%;
}
