.table-name {
    margin-top: 2%;
    display: flex;
}

.action-button {
  vertical-align: middle;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 3px 15px;
  text-align: center;
}

.action-edit {
  background-image: url('../../../../../images/pencil.png');
}

.action-add {
  background-image: url('../../../../../images/plus.png');
}

.action-remove {
  background-image: url('../../../../../images/cancel.png');
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr .1fr;
  column-gap: 2%;
}

.grid-list-checkbox {
  display: grid;
  grid-template-columns: .1fr 1fr;
}

.grid-columns-x5 {
  display: grid;
  grid-template-columns: .1fr 2fr .1fr 2fr .1fr;
  column-gap: 2%;
}

.grid-columns-x3 {
  display: grid;
  grid-template-columns: .5fr 1fr .1fr ;
  column-gap: 2%;
}

.label-color {
  color: #777777
}

.fixed-position {
  position: fixed;
  min-width: 40%;
}

.optional-scroll {
  position: absolute;
  top: 8%;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: auto;
  padding: 0 10px 10px 10px;
}

.optional-scroll-hidden {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.checkbox {
  display: block !important;
}
