.nav-grid-1 {
  display: grid;
  grid-template-columns: 2fr .3fr;
  column-gap: 2%;
}

.nav-grid-2 {
  display: grid;
  grid-template-columns: .5fr 2fr;
  column-gap: 2%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: #848f99;
  text-align: left;
  padding: 12px 14px;
  text-decoration: none;
  border-bottom: 3px solid;
  border-bottom-color: transparent;
}

ul.topnav li a:hover:not(.active) {
  border-bottom: 3px solid;
  border-bottom-color: #848f99;
  color:#848f99;
}

ul.topnav li a.active {
  border-bottom: 3px solid;
  border-bottom-color: #fcd13d;
  color:#000000;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

li a, .dropbtn {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

.dropdown {
  direction: rtl;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  font-size: 14px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: transparent;
}

.dropdown-content-show {
  display: block;
}

.dropdown-content a:hover:not(.active) {
  border-top: 3px solid;
  border-top-color: #fcd13d;
  color:#000;
}
