._generic-button {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #fcd13d;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #3e3e3c;
  cursor: pointer;
  height: 40px;
  margin: auto;
  min-width: 150px;
  outline: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.body {
  align-items: flex-end;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.tabs-button {
  border: none;
  border-radius: 16px;
  height: 35px;
  min-width: 100px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
}

.tabs-button:hover:not(.active) {
  background-color: #e5aa0b;
  border-radius: 9999px;
  color: white;
}

.tabs-button.active {
  background-color: #FF9800;
  color: #f9f9f9;
}
