.card {
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0px 2px 3px 0px rgba(74, 74, 74, 0.2);
  border-radius: 10px;
  border: 0px solid rgba(0, 0, 0, 0.125);
  flex: 1 1 auto;
  padding-top: .75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.generic-card {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: .35rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-body {
  -webkit-box-flex: 1;
  padding: 1.25rem;
}

.card:hover {
  box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
  border-top: 10px solid #ffb901;
}

.card-active {
  box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
  border-top: 10px solid #FF9800;
}

.multiple-card-grid-option {
  display: grid;
  grid-template-columns: .2fr 1fr .1fr;
  margin: 0px auto;
  align-items: center;
}
