.home-container {
  max-width: 100%;
  margin-top: 10px;
  width: auto;
}

.arrow {
  cursor: pointer;
  height: 40px;
  margin: auto;
  background-image: url('../../../images/arrow-down.png');
  background-repeat: no-repeat;
  padding-left: 5%;
}

.grid-global-4fr-3fr-2fr {
  display: grid;
  grid-template-columns: 4fr 3fr 2fr;
  column-gap: 2%;
}
