.title {
  text-align: center;
}

.table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 12px;

}

.table tr:nth-child(even){
  background-color: #eee;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  text-align: left;
  background-color: #ffb901;
  color: #fff;
}

.rtl {
  direction: rtl;
}

.action-header {
  width: 50px;
}

.action-button {
  vertical-align: middle;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 8px 15px;
  text-align: center;
}

.action-edit {
  background-image: url('../../../images/pencil.png');
}

.action-save {
  background-image: url('../../../images/save.png');
}

.action-cancel {
  background-image: url('../../../images/cancel.png');
}
