.login-container {
  background-image: url('../../../images/login-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
}

.login-grid-column-3 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 2%;
}
