.nav-left {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 9999px;
  background-image: url('../../../images/nav_inactive_left.png');
}

.nav-left:hover {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 9999px;
  background-repeat: no-repeat;
  background-color: #ffa800;
  background-image: url('../../../images/nav_left.png');
}

.nav-right:hover {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 9999px;
  background-repeat: no-repeat;
  background-color: #ffa800;
  background-image: url('../../../images/nav_right.png');
}

.nav-right {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 9999px;
  background-image: url('../../../images/nav_inactive_right.png');
}


.grid-tabs {
  display: grid;
  grid-template-rows: .5fr 1fr;
}

.input-tab:checked + label {
  color: #fff;
  background: #ff8a00;
  border-radius: 50px;
  font-weight: lighter;
  min-width: 200px;
  margin-right: 20px;
  border-bottom: 1px solid #ff8a00;
  border-top: 1px solid #ff8a00;
  border-left: 1px solid #ff8a00;
  border-right: 1px solid #ff8a00;
}

.input-tab + label {
  color: #546E7A;
  border-radius: 50px;
  font-weight: lighter;
  min-width: 200px;
  margin-right: 20px;
  border-bottom: 1px solid #546E7A;
  border-top: 1px solid #546E7A;
  border-left: 1px solid #546E7A;
  border-right: 1px solid #546E7A;
}
.input-tab {
  display: none;
}
