ul.sidenav {
  margin: 0;
  background-color: #ffb901;
  position: absolute;
  height: 100%;
  width: auto;
  overflow: visible;
  top: 0;
  font-size: 14px;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 64px;
  padding: 16px 0px;
}

ul.sidenav li {
  display: block;
  color: #fff;
  padding: 12px 12px;
  text-decoration: none;
  text-align: left;
  margin: 3px;
}

ul.sidenav li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

ul.sidenav li.active {
  background-color: #FF9800;
  border-radius: 9999px;
  color: white;
}

ul.sidenav li:hover:not(.active) {
  background-color: #e5aa0b;
  border-radius: 9999px;
  color: white;
}

.secondary {
  align-items: center;
  bottom: 98px;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: 60px;
    position: absolute;
    flex-direction: row;
    padding-left: 8px;
  }

  ul.sidenav li a {
    float: left;
  }

  .tooltip .tooltiptext {
    display: none;
  }

  .secondary {
    right: 8px;
    bottom: 6px;
  }

  .dropdown {
    float: right;
  }

  .dropdown-content {
    right: 0;
  }

  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li {
    text-align: center;
    float: none;
    flex-direction: row;
  }
}

.grid-global-inline {
  display: flex;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}


.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FF9800;
  border-radius: 9999px;
}

.icon-home {
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../../../../../images/home.png');
}

.icon-question-management {
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../../../../../images/question.png');
}

.icon-settings {
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../../../../../images/settings.png');
}

.icon-inqueries {
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../../../../../images/inqueries.png');
}

.icon-user-questionnaire {
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../../../../../images/answered_questionnaire.png');
}

.avatar-padding {
    padding: 0px;
}

.avatar-icon {
  vertical-align: middle;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: round;
  background-image: url('../../../../../images/avatar.png');
  /* -webkit-mask-image: url('../../../images/logo.png');
  mask-image: url('../../../images/logo.png'); */
}
