.grid-global-questionnaire {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-column-gap: 1%;
  column-gap: 1%;
  align-items: flex-start;
}

.grid-global-answer {
    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: 1%;
    align-items: flex-start;
}
