.grid-global-question {
    display: grid;
    grid-template-columns: .5fr 3.5fr .5fr 2fr 2fr .5fr;
    grid-column-gap: 1%;
    column-gap: 1%;
    align-items: flex-start;
}

.grid-global-answer {
    display: grid;
    grid-template-columns: 3fr 5.5fr .5fr;
    grid-column-gap: 1%;
    column-gap: 1%;
    align-items: flex-start;
}

.radio-item {
  border-radius: 6px !important;
  padding: 7px !important;
}

.action-button {
  vertical-align: middle;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 8px 12px;
  text-align: center;
}

.icon-add {
  cursor: pointer;
  height: 44px;
  width: 44px;
  float: right;
  margin: 0;
  background-image: url('../../../../../images/add.png');
  background-repeat: no-repeat;
}

.icon-edit {
  cursor: pointer;
  height: 44px;
  width: 44px;
  float: right;
  margin: 0;
  background-image: url('../../../../../images/edit.png');
  background-repeat: no-repeat;
}

.icon-update {
  background-image: url('../../../../../images/pencil.png');
}

.grid-global-columns-x4-header {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 1fr;
  column-gap: 2%;
}

.grid-global-columns-x3-header {
  display: grid;
  grid-template-columns: 4fr 4fr 0.5fr;
  column-gap: 2%;
}

.status-rows {
  display: grid;
  grid-template-rows: auto;
  column-gap: 2%;
}

.status-rows:hover {
  background-color: linen;
}

.status-rows.active {
  background-color: linen;

}

.regular-scroll {
  position: absolute;
  top: 8%;
  bottom: 0;
  left: 0;
  right: 0px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: auto;
  padding: 0 10px 10px 10px;
}

.regular-scroll-hidden {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.action-edit-circle {
  cursor: pointer;
  height: 36px;
  width: 36px;
  border-radius: 9999px;
  background-image: url('../../../../../images/pencil_circle.png');
}

.action-edit-circle:hover {
  cursor: pointer;
  height: 36px;
  width: 36px;
  border-radius: 9999px;
  background-repeat: no-repeat;
  background-color: #ffa800;
  background-image: url('../../../../../images/pencil_circle_inactive.png');
}
