.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.multiple-font-weight-bolder {
  font-weight: bolder;
  font-size: 14px;
  height: 80px;
}


.input-text {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 5px;
}

.help-label {
  font-size: 12px;
  margin: auto;
  text-decoration: none;
}
.error-message {
  color: #Ff3A00;
  font-size: 12px;
}
.error-message-null {
  margin-bottom: 20.5px;
}

@media only screen and (max-width: 768px) {
  .input-text {
    font-size: 12px;
  }
}

.input {
  height: 40px;
  border-color: #C9CBD0;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #fcd13d;
}

.input::placeholder {
  color: #C9CBD0;
  opacity: 1;
  padding-bottom: 10px;
  font-size: 14px;
}

.textarea {
  height: 100px;
  resize: none;
  border-color: #C9CBD0;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
}

.checkbox {

}

.textarea:focus {
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #fcd13d;
}

.textarea::placeholder {
  color: #C9CBD0;
  opacity: 1;
  font-size: 14px;
}

/* password input */
.password-wrapper {
  width: 100%;
}

.eye-icon {
  position: relative;
  margin-top: -33px;
  float: right;
  margin-right: 10px;
}


/* textarea */
.textarea {
  border-color: #C9CBD0;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  width: 100%;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
}

.textarea::placeholder {
  color: #C9CBD0;
  opacity: 1;
  font-size: 14px;
}

.textarea.vertical {
  resize: vertical;
}

.Textarea.horizontal {
  resize: horizontal;
}

/* mobile number */
.mobile-input[type=number]::-webkit-inner-spin-button,
.mobile-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mobile-input {
  margin-left: -1px;
  border-left-width: 0;
}

.mobile-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mobile-input-wrapper .country-select {
  width: 125px;
}

.mobile-input-wrapper .Select-control {
  border-right-width: 0;
}

.mobile-input-wrapper .Select.is-focused:not(.is-open) > .Select-control {
  border-color: #C9CBD0;
}

.mobile-input-wrapper .country-img {
  height: 15px;
  width: auto;
  margin-right: 5px;
}

.mobile-input-wrapper .country-value-wrapper,
.mobile-input-wrapper .country-option-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.mobile-input-wrapper .country-option-wrapper {
  width: 140px;
  font-size: 12px;
}

.country-select .Select-arrow-zone {
  display: none;
}
