.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-text {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 5px;
}

.error-message {
  color: #Ff3A00;
  font-size: 12px;
}
.error-message-null {
  margin-bottom: 20.5px;
}

@media only screen and (max-width: 768px) {
  .dropdown-text {
    font-size: 12px;
  }
}

.dropdown-select {
  height: 40px;
  width: 100%;
  border-color: #C9CBD0;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
}

.dropdown-select:focus {
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #fcd13d;
}

.dropdown-select::placeholder {
  color: #C9CBD0;
  opacity: 1;
  padding-bottom: 10px;
  font-size: 14px;
}
